<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.email %></h1>
    <p>
      You inventory for <%= @item.name %> has hit 0!
      Please log in if you would like to update this
      here: <%= @url %>
    </p>
    <p>Have a great day!</p>
  </body>
</html>
