<div class="center"><h1>Chuck Anderson's Skill Test Submission</h1></div>
<br>
<div class="center"><h3>To begin, create a user </h3><%= link_to 'here', new_user_registration_path, class: 'match_h3' %></div>
<div class="small_center"><h3>or login </h3><%= link_to 'here', new_user_session_path, class: 'match_h3' %></div>
<div class="small_center"><h5>Next confirm your account by following the link in your email (be sure to check your spam folder)</h5></div>
<br>
<div class="small_center"><h5>Once you're logged in you'll have access to your products through a link in the nav bar</h5></div>

