<%= form_with model: @item do|f| %>
  <div class="center">
    <%= f.text_field :name, :cols => "30" %>
    <small class="form-text text-muted">Product Name</small>
  </div>
  <br>
  <div class="center">
    <%= f.text_field :quantity %>
    <small class="form-text text-muted center-text">Quantity</small>
  </div>
  <div class="row">
    <div class="col-sm-6 center"><%= link_to 'Back', my_items_items_path, class: 'app_button mt-4' %></div>
    <div class="col-sm-6 center"><input type="Submit" name="commit" value="Save" class="app_button mt-4" ></div>
  </div>
<% end %>
